body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: block;
    justify-content: center;
    background-image: url(../image.jpg);
    background-position: center;
    background-size: cover;
    padding-top:  100px;
}
.container .services{
    width: 80%;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

h1 {
    color: #3ebe3e;
    padding: 10px;
}

#result {
    margin-top: 20px;
}

input{

    margin-bottom: 5px;
    outline: none;
    border: 1px solid green;
    padding: 15px;
    width :50%;
    margin-top:8px;
    border-radius: 10px;
}
#btnSubmit{
    width: 50%;
    background-color: green;

}
p{
    color: white;
}
